.menu-button {
    color: white;
    border: 4px solid #4537c4;
    background: #4537c4;
    font-size: 15px;
    padding: 5px 15px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    /*display: inline-block;*/
    transition: all 0.4s ease 0s;
    margin-right: 10px;
}
.menu-button:hover {
    color: #ffffff;
    background: #152296;
    border: 4px solid #152296;
    transition: all 0.4s ease 0s;
}

.question-content {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 15px;
}

.graphDiv {
    display: inline-block;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    /*resize: both;
    overflow: hidden;*/
    width: 100%;
    height: 700px;
    margin-top: 5px;
}

textarea {
    background-color: #e6e6e6;
}

textarea:read-only {
    cursor: not-allowed;
}

.tableDiv {
    display: none;
}

/* Graph ----------------------------------------- */
.hint-content-div {
    margin-bottom: 0px;
    margin-top: 5px;
    width: 100%;
    background-color: #b5e9a5;
    border: 1px solid #95cf84;
    padding: 5px;
}

.hint-paragraph {
    background-color: #ffffff00;
    line-height: 19px;
    font-family: Roboto, Open Sans, Arial, sans-serif;
    font-size: 1em;
    margin: 0px 2px 3px 1px;
}

.hintButton {
    font-family: Roboto,Open Sans,Arial,sans-serif;
    font-size: 1em;
    color:#002776;
    margin-top: 0.5em;
    border: 0px solid #dedede;
    background-color: #dedede;
    display: block;
}

.hintButton:hover {
    color:#002776;
    background-color: #cccccc;
}

/* context menus ------------------------------- */
.context-menu-button {
    background-color: #ffffff;
    border: none;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 14px;
    color: black;
    font-family: Roboto, Open Sans, Arial, sans-serif;
    transition: all 0.2s ease 0s;
}

.context-menu-button:hover {
    background-color: #e7e7e7;
    color: black;
    transition: all 0.2s ease 0s;
}

.context-menu {
    display: none;
    position: absolute;
    width: 200px;
    background-color: #ffffff;
    border-radius: 4.5px;
    box-shadow: 0px 0px 6px #adadadc4;
}

.empty-graph-button {
    position: absolute;
    background-color: #002776;
    color: white;
    font-size: 17px;
    font-family: Roboto, Open Sans, Arial, sans-serif;
    border: 0px solid #002776;
    padding: 10px;
    margin: 0px;
    transition: fill 0.2s ease 0s;
    box-shadow: 0px 0px 6px #707070c4;
}

.empty-graph-button:hover {
    background-color: #002164;
    transition: fill 0.2s ease 0s;
}

.rename-error-p {
    display: none;
    position: absolute;

    color: #a92523;
    font-family: Roboto, Open Sans, Arial, sans-serif;
    font-size: 1em;

    border: 1px solid #d2959f !important;
    border-radius: 5px;
    background-color: #f2dede;
    box-shadow: 0px 0px 0px #0000003a;
    margin: 0px;
    padding: 5px;

    max-width: 550px;
}

#ruler { 
    visibility: hidden; 
    white-space: nowrap;
    font-size: 17px;
    font-family: Roboto, Open Sans, Arial, sans-serif;
    padding: 0px 2px 0px 2px;
}

.main-svg {
    border: 1px solid #dcdcdc;
}

/* .svg-rect {
    fill: #f9f9f9;
} */

.defs-arrow-end {
    fill: #3e3e3e;
}


/*  states  ------------------------------------------------------------ */
.state-group circle{
    fill: #ffffff;
    stroke: #3e3e3e;
    stroke-width: 2px;
}

.state-group.mouse-over-node circle {
    stroke: #3e3e3e;
    fill:#bfdcf7;
    cursor: default;
}

.state-group.selected circle{
    stroke:#3e3e3e;
    fill: #8dc5f9;
}

.state-fullname-rect {
    fill: #4646468c;
    /*stroke-width: 1px;
    stroke: #1a1a1a7e;*/
}

.state-fullname-text {
    font-family: Roboto, Open Sans, Arial, sans-serif;
    font-size: 15px;
    cursor: default;
    fill: white;
}

/* .state-group.mouse-over-node .stateEl>.stateInput{
    background-color: #bfdcf7;
}

.state-group.selected .stateEl>.stateInput{
    background-color: #8dc5f9;
} */

.stateEl>.stateInput {
    color: black;
    text-align: center;
    outline: none;
    background: rgba(255, 255, 255, 0.562);
    border: 0px solid rgba(0,0,0,0);
    font-family: Roboto, Open Sans, Arial, sans-serif;
    font-size: 17px;
    width: 47px;
    margin: 0px;
    padding: 2px;
    cursor: text;
}

.stateInput:read-only {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgba(0,0,0,0);
    color: black;
    cursor: pointer;
}


/*  edges ------------------------------------------------------------ */
.init-arrow:hover{
    stroke:#929cff;
}

.edge-group.mouse-over-node path{
    stroke:#add8ff;
}

.edge-group.selected path{
    stroke: #8dc5f9;
}

.temp-edge-group.selected path {
    stroke: #53c08d;
}

.edge-path {
    fill: none;
    stroke: #3e3e3e;
    stroke-width: 3.2px;
    cursor: default;
}

.edge-path.hidden, .edge-marker-path.hidden {
   /* stroke-width: 0; */
   visibility: hidden;
}

.edge-marker-path {
    stroke-width: 2.1px;
}

.edgeInput {
    text-align: center;
    outline: none;
    background: #ffffff;
    border: 0px solid #2d2d2d;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px #5a9cda;
    color: #002779;
    font-family: Roboto, Open Sans, Arial, sans-serif;
    font-size: 17px;
    width: 32px;
    padding: 2px 2px 3px 2px;
    margin: 2px;
    cursor: text;
}

.edgeInput::selection {
    background:#ffdf4f;
  }

.edgeInput:read-only{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: white;
  box-shadow: 0px 0px 1px 1px #797979c4;
  color: black;
  font-style: normal;
  cursor: default;
}

.foreignObject {
    background-color: rgba(0,0,0,0);
}


/* Table ----------------------------------------- */
.myTable {
    margin-top: 5px;
    border-collapse:separate; 
border-spacing:2px;
}

.myCell {
    /*! border: 1px solid #cecece; */
    padding: 0;
    background-color: #f0f0f0;
    /*! border-bottom: 1px solid #b5b5b5; */
}

.cell-input { /*input inside td*/
    font-size: 1.4em;
    font-family: Roboto, Open Sans, Arial, sans-serif;
    text-align: center;
    width: 100%;
    border: 0px;
    border-radius: 0px;
    background-color: #f0f0f0;
    padding: 7px 7px 7px 7px;
    margin: 0;
    line-height: 1.5px;
    color: #002776;
}

.column-header-cell { /* td */
    background-color: #d0d0d0;
    /*! border: 1px solid #cecece; */
    padding: 0;
}

.column-header-input { /*input inside td, set bg color here*/
    background-color: #d0d0d0;
    color: #002776;
}

.row-header-cell {
    background-color:#d0d0d0;
    /*! border: 1px solid #cecece; */
    padding: 0em;
    margin: 0em;
    /*! color: ; */
}

.row-header-cell:hover{
    background-color: #bababa;
}

.row-header-input { /*input inside td*/
    transition: background-color 0.2s ease;
    background-color:#d0d0d0;
    text-align: left;
    cursor: pointer;
    border-radius: 0px;
    color: #002779;
}

.row-header-input:hover {
    background-color: #bababa;
    cursor: pointer;
}

/*selected row header input*/
.selected-header-input {
    background-color: #bababa;
    text-align: left;
    cursor: text;
    border-radius: 0px;
}

.inactive-cell { /*td, topleft corner of table*/
    background-color: white;
    border: 1px solid white;
    cursor: default;
}

.incorrect-cell {
    background-color: #ff6666;
}

.delete-button-cell { /* td */
    padding: 0px 10px 0px 10px;
    background-color: #f0f0f0;
    
    text-align: center;
    font-size: 1.5rem;
    font-family: Roboto, Open Sans, Arial, sans-serif;
    color: #dc2828;
    cursor: pointer;
}

.delete-button-cell:hover {
    background-color: #ecdada;
    border: 0px solid #cf9090;
    color: red;
    text-decoration: none;
}

.add-button-cell { /* td */
    padding: 0px 10px 0px 10px;
    background-color: #f0f0f0;

    text-align: center;
    font-size: 1.5em;
    font-family: Roboto, Open Sans, Arial, sans-serif;
    color: #10bd00;
    text-decoration: none;
    cursor: pointer;
}

.add-button-cell:hover {
    background-color: #d7ecd7;
    border: 0px solid #a6c7a6;
    color: #24961a;
    text-decoration: none;
}

.arrow-td{
    background-color: #f1f1f1;
    padding: 0;
    font-size: 1.2rem;
}

.top-arrow{
    vertical-align: middle;
}

.bottom-arrow{
    vertical-align: bottom;
}

.base-arrow{
    background: #ecebeb;
    text-align: center;
    color: #9997b5;
    cursor: pointer;
}

.base-arrow:hover{
    background: #d1d1d1;
    color: #929292;
}

.selected-arrow {
    background: #002776;
    color: white;
}

.selected-arrow:hover{
    background: #002164;
    color: white;
}

.top-arrow.selected-arrow {
    background-color: #00a442;
}

.top-arrow.selected-arrow:hover {
    background-color: #008334;
}

/* ------------------------------ Syntax check ------------------------------ */

.alert {
    font-family: Roboto, Open Sans, Arial, sans-serif;
    font-size: 1em;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 4px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1 !important;
    outline: none;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc !important;
    outline: none;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6 !important;
    outline: none;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1 !important;
    outline: none;
}



/* ------------------------------ To delete ------------------------------ */

.my-type {
    font-family: Roboto, Open Sans, Arial, sans-serif;
    color: rgb(56, 56, 56);
    font-size: 15px;
    font-style: italic;
}

.noselect {
    user-select: none;
}

#constrainer {
    background-color: rgb(255, 255, 255);
    width: 1000px;
}